---
import Breadcrumbs from '~/components/Breadcrumbs.astro';
import Layout from '~/layouts/PageLayout.astro';
import List from '../../components/List.astro';
import Table from '../../components/Table.astro';
import HoverCard from './HoverCard.astro';

const metadata = {
  title: 'MYOSA Mini Kit',
  subtitle: 'Your getting started IoT and Sensor Development Kit',
};

const images = ['/images/CCS811-1.jpg', '/images/CCS811-2.png', '/images/CCS811-3.jpg'];

const introduction = `The MYOSA Mini Kit is designed for embedded systems and IoT development, offering a variety of sensors and an OLED display, all powered by the MYOSA Motherboard. Ideal for students, hobbyists, and developers, this kit includes everything needed for projects involving environmental sensing, motion detection, and display interfacing.`;

const featureList = [
  'Seamless I2C communication for all sensors',
  'Easy integration with kit through USB-C',
  '4-wire JST hassle-free connection for components',
  'Stackable design',
];

// const specifications = [
//   { label: 'Communication', value: 'I2C' },
//   { label: 'TRIAC Voltage', value: '240V AC' },
//   { label: 'Buzzer Frequency', value: '2kHz' },
// ];

const references = [
  //   {
  //     label: 'ESP32 Datasheet',
  //     link: 'https://www.espressif.com/sites/default/files/documentation/esp32-wroom-32e_esp32-wroom-32ue_datasheet_en.pdf',
  //   },
  {
    label: 'Getting Started Guide',
    link: 'https://wiki.myosa-sensors.org/docs/intro',
  },
  {
    label: 'Example codes and libraries',
    link: 'https://github.com/myosa-sensors/arduino-libraries',
  },
];
const applicationList = [
  'Environmental monitoring',
  'Motion sensing and gesture control',
  'Data logging and display projects',
];
---

<Layout metadata={metadata}>
  <div class="py-8 max-w-7xl mx-auto px-8 flex flex-col gap-10">
    <Breadcrumbs
      labelLinkArray={[
        { label: 'Home', link: '/' },
        { label: 'Kits', link: '#' },
        { label: metadata.title, link: '#' },
      ]}
    />

    <div>
      <h2 class="text-4xl font-bold text-center">{metadata.title}</h2>
      <h2 class="text-xl text-center">{metadata.subtitle}</h2>
    </div>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5 mt-5 items-center">
      <div class="sm:row-span-2">
        <HoverCard
          imageClass="h-96 lg:h-[50vh] w-72"
          link="/products/myosa-motherboard"
          title="MYOSA Motherboard"
          subtitle="ESP32-based board with Wi-Fi/Bluetooth"
          image="/images/products/MYOSA_Motherboard_2-removebg-preview.png"
        />
      </div>
      <HoverCard
        imageClass="w-44 "
        link="/products/oled-display"
        title="OLED Display (SSD1306)"
        subtitle="128x64 monochrome OLED for data display"
        image="/images/products/OLED_2-removebg-preview.png"
      />
      <HoverCard
        imageClass=" w-44 -"
        link="/products/barometric-pressure-sensor"
        title="Barometric Pressure Sensor (BMP180)"
        subtitle="Accurate altitude and pressure readings"
        image="/images/products/Barometric_Pressure_2-removebg-preview.png"
      />
      <HoverCard
        imageClass="w-44 "
        link="/products/gesture-proximity-light-and-color-sensor"
        title="Light/Proximity/Gesture Sensor (APDS9960)"
        subtitle="Detects ambient light, proximity, and gestures"
        image="/images/products/Barometric_Pressure_2-removebg-preview.png"
      />
      <HoverCard
        imageClass=" w-44 -"
        link="/products/accelerometer-and-gyroscope-sensor"
        title="Accelerometer + Gyroscope Sensor (MPU6050)"
        subtitle="Motion and orientation tracking"
        image="/images/products/Accelerometer_Gyroscope_2-removebg-preview.png"
      />
    </div>

    <div class="py-10 gap-20">
      <p class="">{introduction}</p>

      <List title="Key Features" list={featureList} />
      <List title="Applications" list={applicationList} />

      <!-- <Table title="Specifications" data={specifications} /> -->
      <Table title="Documents & Resources" data={references} />
    </div>
  </div>
</Layout>
