---
import Breadcrumbs from '~/components/Breadcrumbs.astro';
import List from '~/components/List.astro';
import Swiper from '~/components/Swiper.astro';
import Table from '~/components/Table.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Actuator',
  subtitle: 'Actuator for Embedded Systems',
};

const images = ['/images/CCS811-1.jpg', '/images/CCS811-2.png', '/images/CCS811-3.jpg'];

const introduction = `This custom actuator features an I2C GPIO expander for efficient control, a TRIAC for managing high-power loads, and a buzzer for audible alerts. Designed for flexibility, it integrates seamlessly with ESP32-based systems and is ideal for industrial and IoT applications requiring precise control.`;

const featureList = [
  'I2C GPIO Expander for multiple outputs',
  'TRIAC for high-power load control',
  'Integrated buzzer for alerts',
  'Compact design for embedded use',
];

const specifications = [
  { label: 'Communication', value: 'I2C' },
  { label: 'TRIAC Voltage', value: '240V AC' },
  { label: 'Buzzer Frequency', value: '2kHz' },
];

const references = [
  //   {
  //     label: 'ESP32 Datasheet',
  //     link: 'https://www.espressif.com/sites/default/files/documentation/esp32-wroom-32e_esp32-wroom-32ue_datasheet_en.pdf',
  //   },
  {
    label: 'Getting Started Guide',
    link: 'https://wiki.myosa-sensors.org/docs/hardware-documentation-and-code-guide/actuator',
  },
  {
    label: 'Myosa Libraries',
    link: 'https://github.com/myosa-sensors/arduino-libraries/tree/main/Actuator',
  },
];
const applicationList = ['Industrial automation', 'Smart home devices', 'IoT systems'];
---

<Layout metadata={metadata}>
  <div class="py-8 max-w-5xl mx-auto px-8 flex flex-col gap-10">
    <Breadcrumbs
      labelLinkArray={[
        { label: 'Home', link: '/' },
        { label: 'Products', link: '#' },
        { label: metadata.title, link: '#' },
      ]}
    />

    <div class="flex flex-col-reverse md:flex-row gap-10">
      <Swiper images={images} />
      <div class="max-w-sm gap-3 flex flex-col">
        <h2 class="text-3xl font-bold">{metadata.title}</h2>
        <h2 class="text-xl">{metadata.subtitle}</h2>
        <p class="">{introduction}</p>
      </div>
    </div>

    <div class="py-10 gap-20">
      <p class="">{introduction}</p>

      <List title="Key Features" list={featureList} />
      <List title="Applications" list={applicationList} />

      <Table title="Specifications" data={specifications} />
      <Table title="Documents & Resources" data={references} />
    </div>
  </div>
</Layout>
