---
import Breadcrumbs from '~/components/Breadcrumbs.astro';
import List from '~/components/List.astro';
import Swiper from '~/components/Swiper.astro';
import Table from '~/components/Table.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'APDS9960 Gesture, Proximity, Light, and Color Sensor',
  subtitle: 'All-in-One Optical Sensor',
};

const images = [
  '/images/products/Gesture_Proximity_Light_Color_1.jpg',
  '/images/products/Gesture_Proximity_Light_Color_2.jpg',
  '/images/products/Gesture_Proximity_Light_Color_3.jpg',
];

const introduction = `The APDS9960 is a versatile optical sensor that can detect gestures, measure proximity, ambient light, and RGB colors. It’s commonly used in gesture-based control systems and devices requiring environmental light sensing.`;

const featureList = ['Gesture recognition', 'Proximity detection', 'Ambient light and color sensing (RGB)'];

const specifications = [
  { label: 'Supply Voltage', value: '2.4V - 3.6V' },
  { label: 'Communication', value: 'I2C' },
  { label: 'Detection Range', value: ' 0 - 100mm (proximity)' },
];

const references = [
  {
    label: 'APDS9960 Datasheet',
    link: 'https://cdn.sparkfun.com/assets/learn_tutorials/3/2/1/Avago-APDS-9960-datasheet.pdf',
  },
  {
    label: 'Getting Started Guide',
    link: 'https://wiki.myosa-sensors.org/docs/hardware-documentation-and-code-guide/gesture-and-rgb-sensor',
  },
  {
    label: 'Gesture Control Library',
    link: 'https://github.com/myosa-sensors/arduino-libraries/tree/main/LightProximityAndGesture',
  },
];
const applicationList = ['Gesture-based control', 'Ambient light detection', 'Color detection in displays    '];
---

<Layout metadata={metadata}>
  <div class="py-8 max-w-5xl mx-auto px-8 gap-10 flex flex-col">
    <Breadcrumbs
      labelLinkArray={[
        { label: 'Home', link: '/' },
        { label: 'Products', link: '#' },
        { label: metadata.title, link: '#' },
      ]}
    />

    <div class="flex flex-col-reverse md:flex-row gap-10">
      <Swiper images={images} />
      <div class="max-w-sm gap-3 flex flex-col">
        <h2 class="text-3xl font-bold">{metadata.title}</h2>
        <h2 class="text-xl">{metadata.subtitle}</h2>
        <p class="">{introduction}</p>
      </div>
    </div>

    <div class="py-10 gap-20">
      <p class="">{introduction}</p>

      <List title="Key Features" list={featureList} />
      <List title="Applications" list={applicationList} />

      <Table title="Specifications" data={specifications} />
      <Table title="Documents & Resources" data={references} />
    </div>
  </div>
</Layout>
